* {
  box-sizing: border-box; }

:root {
  font-family: "Trebuchet MS", "Open Sans", sans-serif; }

html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  height: 100%; }
  body > h1 {
    text-align: center;
    margin: 1rem 0; }

h1,
h2 {
  margin: 0; }

svg {
  display: block;
  margin: 0 auto;
  border: 1px solid grey;
  height: 500px;
  width: 500px; }
  svg circle {
    stroke-width: 1px;
    stroke: black;
    fill: lightgrey; }
  svg path {
    stroke-width: 1px;
    stroke: green; }
