#battle {
	--battle-fade-in: 500ms;
	transition: opacity var(--battle-fade-in);
	visibility: hidden;
	background: white;
	opacity: 0;
	position: fixed;
	z-index: -1;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}
#battle.show {
	visibility: visible;
	opacity: 1;
	z-index: 1;
}

#battle .trainer.foe {
	position: absolute;
	right: 10vw;
	top: 10vh;
}
#battle .trainer.foe > .inactive.pokemon {
	display: none;
}

#battle .trainer.player {
	position: absolute;
	bottom: 10vh;
	left: 10vw;
	width: 80vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-end;
}

#battle .trainer .pokemon {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-end;
}
#battle .trainer.player > .pokemon {
	max-width: 49%;
}
#battle .trainer.foe > .pokemon {
	justify-content: flex-end;
}

#battle .pokemon-html {
	box-shadow: 0px 0px 5px 1px black;
	transition: opacity 2s var(--battle-fade-in);
	margin: 3px;
	opacity: 0;
	--size: 1;
}
#battle.show .pokemon-html {
	opacity: 1;
}

#battle .foe .pokemon-html.active {
	--size: 2;
}
#battle .pokemon-html.active {
	box-shadow: none;
	--size: 4;
}

#battle .pokemon-html .pokemon-img {
	--size-transition: 1s;
	transition: top 200ms, width var(--size-transition), height var(--size-transition), background-position var(--size-transition);
	position: relative;
	top: 0;
}
#battle .menu .pokemon-html > :not(.pokemon-img) {
	display: none;
}

#battle .pokemon-html.ready .pokemon-img {
	animation: pkmn-ready 1s infinite;
}
@keyframes pkmn-ready {
	to,
	40%,
	60%,
	from {
		top: 0;
	}
	50% {
		top: -5px;
	}
}

#battle:not(.wild) [data-action="run"] {
	display: none;
}
#battle .menu [data-action="fight"] + *,
#battle .menu [data-action="pkmn"] + * {
	display: flex;
	justify-content: flex-start;
	transform-origin: top center;
	overflow: hidden;
	max-height: 0;
}
#battle .menu [data-action="fight"] + * {
	transition: all 800ms;
}
#battle .menu [data-action="pkmn"] + * {
	transition: all 500ms;
}
#battle .menu [data-action="fight"].active + * {
	max-height: calc( ( 2em + 2px * 2 ) * 4 );
}
#battle .menu [data-action="pkmn"].active + * {
	max-height: calc(30px + 3px * 2);
	margin-top: 0.5em;
}
#battle .menu [data-action="pkmn"] + .pokemon {
	flex-flow: row nowrap;
	align-items: flex-start;
}
#battle .menu [data-action="fight"] + * {
	flex-flow: column nowrap;
	align-items: stretch;
	padding-left: 1rem;
}

#battle .menu {
	transition: all 500ms;
	display: none;
	opacity: 0;
	transform: scaleX(0);
	transform-origin: right center;
}
#battle .menu.show {
	transform: scaleX(1);
	opacity: 1;
}
#battle .menu ul {
	padding: 0;
	margin: 0;
}

#battle .menu li {
	display: block;
}
#battle .menu [data-action] {
	display: block;
	width: 100%;
	text-align: left;
	background: white;
	border: 2px outset grey;
	white-space: nowrap;
	margin-top: 0.5em;
	padding: 2px 5px;
	font-size: 0.9em;
	font-family: inherit;
	outline: 0 none;
}
#battle .menu [data-action]:hover {
	background-color: whitesmoke;
	border-style: solid;
}
#battle .menu [data-action]:focus {
	background-color: whitesmoke;
}
#battle .menu [data-action]:active {
	padding: 3px 4px 1px 6px;
	border-style: inset;
}

progress.hp {
	-webkit-appearance: none;
	display: block;
	height: 5px;
	width: 100%;
}
progress.hp::-webkit-progress-bar {
	background: whitesmoke;
}
progress.hp::-webkit-progress-value {
	background: forestgreen;
}
