* { box-sizing: border-box; }
:root { font-size: 12pt; height: 100%; }
html,
body,
h1 {
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	position: relative;
	overflow: hidden;
	perspective: 10in;
}
#board {
	transform-style: preserve-3d;
	--diameter: 350vh;
	--bottom: 20vh;
	position: absolute;
	overflow: hidden;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}
@media (orientation: landscape) {
	--bottom: 10vh;
}
.gm-style > div {
	border-radius: 50%;
}
#map {
	border-radius: 50%;
	height: var(--diameter);
	width: var(--diameter);
	position: absolute;
	overflow: hidden;
	right: calc( 50vw - var(--diameter) / 2);
	left: calc( 50vw - var(--diameter) / 2);
	transform: rotateX(70deg) translateZ(calc(var(--bottom) / 5));
	bottom: calc( var(--diameter) / -2 + var(--bottom) );
	transform-origin: center center;
	background-color: transparent !important;
}

#player {
	transform-style: preserve-3d;
	--width: 32px;
	position: absolute;
	height: calc( var(--width) * 2 );
	width: var(--width);
	right: calc(50% - var(--width) / 2);
	left: calc(50% - var(--width) / 2);
	bottom: var(--bottom) ;
	animation: rotate 10s linear infinite;
}
@keyframes rotate {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}
#player > div {
	background-image: url('../img/hero/RubyMay/standing.png');
	backface-visibility: hidden;
	background-size: 400%;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}
#player > div#right {
	background-position: 0px 0px;
	transform: rotateY(90deg) translateZ(calc(var(--width) / 4));
}
#player > div#front {
	background-position: calc( -1 * var(--width)) 0px;
	transform: rotateY(180deg) translateZ(calc(var(--width) / 4));
}
#player > div#left {
	background-position: calc( -2 * var(--width)) 0px;
	transform: rotateY(-90deg) translateZ(calc(var(--width) / 4));
}
#player > div#back {
	background-position: calc( -3 * var(--width)) 0px;
	transform: translateZ(calc(var(--width) / 4));
}

li > a[data-action] {
	display: block;
}
[data-action] {
	cursor: pointer;
}
[data-action]:disabled {
	cursor: default;
}
[data-action][disabled] {
	cursor: default;
}
